.hero {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.841),
      rgba(0, 23, 10, 0.889)
    ),
    url('hero-img-2.jpg') no-repeat center center/cover;
  text-align: center;
  padding: 100px 20px;
}
